.logo {
  position:absolute;
  width: 212px;
  height: 65px;
  left: 24px;
  top: 12px;
  
  font-family: Londrina Solid;
  font-style: normal;
  text-align: center;
}
.logo .logo-top {
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
} 
.logo .logo-bottom {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
