body {
  position: absolute;
  width: 699px;
  height: 389px;
  left: 371px;
  top: 188px;

  font-family: Londrina Solid;
  font-style: normal;
  font-weight: 300;
  font-size: 288px;
  line-height: 341px;
  text-align: center;
}